@import url(http://fonts.googleapis.com/css?family=Ubuntu);
* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}
p {
    line-height: 1.8rem;
}
a {
    color: #1250c0;
    text-decoration:none;
}
a:hover {
    color: #5c7da7;
}
h1, h2, h3, h4, h5 , h6 { font-family: 'Ubuntu', sans-serif; }
h1 {
    border-bottom:1px solid #bbb;
    padding:0 0 1rem 0;
    margin:1rem 0 2rem 0;
}

/*base html*/
header {
    padding:1.8rem 10rem;
    font-size:1.5rem;
    font-weight: bold;
    background: #1250c0;
    color:#fff;
    border-bottom: .4rem solid #F48024;
    overflow:auto;
}
header .logo {
    font-family: 'Muli', sans-serif;
    float:left;
    color: #e5f6ff;
    font-size:2.1rem;
    margin-right:10%;
}
header .logo sub{
    font-size:1.3rem;
    color:#F48024;
}
header ul.menu{
    list-style:none;
    float:left;
    margin:0;
    padding:0;
}
header ul.menu-right{
    margin:0;
    padding:0;
    list-style:none;
    float:right;
}
header ul.menu li{
    float:left;
    padding: .4rem 1.3rem;
}
header ul.menu-right li{
    float:left;
    padding: .4rem .5rem;
}
header ul.menu li.selected a, #header ul.menu li.selected a:hover {
    color: #F48024;
    font-weight:bold;
}
header a {
    color: #e5f6ff;
}
header a:hover {
    text-decoration: none;
    color:#fff;
}
header .registration-btn{
    border: #F48024 1px solid;
    padding: .4rem 1rem;
    border-radius: 2px;
    background-color: #F48024;
}
header .registration-btn:hover{
    border: #e26f21 1px solid;
    padding: .4rem 1rem;
    border-radius: 2px;
    background-color: #e26f21;
}

header .login-btn{
    border: #1250c0 1px solid;
    padding: .4rem 1rem;
    border-radius: 2px;
    background-color: #1250c0;
}
header .login-btn:hover{
    color: #e5f6ff;
    border: #f4ae80 1px solid;
    padding: .4rem 1rem;
    border-radius: 2px;
    background-color: #f4ae80;
}
#content {
    padding:3rem 10rem;
}
.header-account-image{
    border: .2rem solid #ffffff;
    border-radius: 5px;
    width: 20px;
    height: 20px;
}
/*base_account*/
/*tab-links*/
.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
/* Style the buttons inside the tab */
.tab .tablinks {
    color: #bbbbbb;
    border: #ffffff 1px solid;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.4rem;
    font-weight: bold;
}
/* Create an active/current tablink class */
.tab .tablinks.active {
    color: black;
    border-color: #ccc;
    border-bottom: none;
    border-top: #F48024 .2rem solid;
}
/* Style the tab content */
.tabcontent {
    padding: .6rem 1.2rem;
}
/*forms-account*/
.markdownx{
    display: block;
}
.add_question{
    width: 100rem;
    padding: 1rem;
    margin: auto;
}
form.add_question .markdownx-preview{
    width: 100%;
}
form {
    width: 40rem;
    padding: 1rem;
    margin: auto;
    /*overflow:auto;*/
}

form p label {
    font-size:1.8rem;
    padding-bottom:.4rem;
}
form ul{
    color: #767676;
}
form p input {
    width:100%;
    font-size:1.5rem;
    margin-bottom:1rem;
    padding:1rem 1.2rem;
    border:0;
    background:#efefef;
    color: #464646;
    border-radius:.4rem;
}
form textarea {
    min-width: 100%;
    max-width: 100%;
    width:100%;
    font-family: 'Ubuntu', sans-serif;;
    font-size:1.5rem;
    margin-bottom:1rem;
    padding:1rem 1.2rem;
    border:0;
    background:#efefef;
    color: #464646;
    border-radius:.4rem;
}
input[type=submit], a.button {
    width:100%;
    font-weight:bold;
    background: #1250c0;
    color:#fff;
    padding:1rem 2rem;
    font-size:1.4rem;
    text-transform:uppercase;
}

.helptext {
    margin:0 0 2rem 0;
    color: #767676;
    clear:both;
    float:left;
    font-size:1.3rem;
}
/*Profile*/
.avatar-card{
    border: 1px solid #c8ccd0;
    border-radius: 4px;
    text-align: center;
    padding: 17px;
    box-shadow: inset 0 130px 0 #e7e8ea;
}
.profile {
    display: flex;
    flex-direction: row;
}
.profile h1{
    font-size: 3rem;
}
.profile span{
    font-size: 1.4rem;
    color: #1250c0;
}
.profile p{
    font-size: 1.6rem;
}
.profile > .image-user{
    width: 25%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.image-user img{
    width: 250px;
    height: 250px;
}
.profile > .about-user{
    width: 75%;
}
.about-user sub{
    font-size: 1.1rem;
}
.additional-info p{
    font-size: 1.3rem;
}
.small-icon{
    width: 2.3rem;
    height: 2.1rem;
}
.orange-link:hover{
    color: #F48024;
}
.profile-question{
    margin-top: 5rem;
    float: left;
    width: 45%;
}
.profile-question p{
    font-size: 1.7rem;
}
.profile-answer{
    margin-top: 5rem;
    float: right;
    width: 45%;
}
.profile-answer p{
    font-size: 1.7rem;
}
.profile-answer h2, .profile-question h2 {
    border-bottom:1px solid #bbb;
    padding:0 0 1rem 0;
    margin:1rem 0 2rem 0;
}
.profile_likes{
    padding: .1rem 1rem;
    border-radius: 5px;
    border: solid 2px #B9B9B9;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
    color: #6e6e6e;
}
.correct{
    border: solid 2px #00b98b;
    background-color: #5FBA7D;
    color: #ffffff;
}
/*question list*/
.questions_list{
    width: 80%;
    display: flex;
    margin: 2rem;
    flex-direction: column;
    /*justify-content: center;*/
}
.question{
    font-size: 1.6rem;
    border-bottom: 1px solid #cccccc;
}
.question:nth-child(1){
    border-top: 1px solid #cccccc;
}
.statistic-question{
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    width: 10%;
    height: 100%;
}
.answers-stat, .votes-stat{
    font-size: 1.5rem;
    display: flex;
    margin-top: .5rem;
    height: 6rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.answers-stat p, .votes-stat p{
    margin: 0;
}
.green-answer{
    background-color: #5FBA7D;
    color: #ffffff;
    font-weight: bold;
}
.text-question{
    width: 90%;
    float: left;
}
.user-question{
    display: flex;
    float: right;
    width: 20%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
}
.date-question{
    display: block;
    font-size: 1rem;
}
.ask-question-btn{
    color: #1250c0;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #1250c0;
    border-radius: 5px;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.ask-question-btn:hover{
    color: #1250c0;
    background-color: #d8e3ff;
}
.tags a{
    font-size: 1.2rem;
    background-color: #E1ECF4;
    margin-right: 2px;
    padding: .2rem .6rem;
    color: #39739d
}
.tags a:hover{
    background-color: #cee0ed;
    padding: .2rem .6rem;
    color: #39739d
}
.slidebar{
    display: block;
    float: right;
    width: 20%;
    position: absolute;
    right: 0;
    top: 120px;
    font-size: 1.3rem;
    background-color: #f2f2f2;
    padding: 10px;
    margin-right: 1rem;
}
li.tags{
    list-style: none;
    height: 3rem;
}
/*pagination html*/
.pagination{
    font-size: 1.4rem;
    margin: 1rem;
    text-align: center;
}
/*user-list*/
.user-list{
    padding: 0 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.user{
    padding: 2rem 1rem;
    width: 250px;
    display: inline-flex;
    margin-bottom: 4rem;
}
.user:hover{
    background-color: #f4f8fb;
    transition: background .1s ease-in-out;
}
.image-user-list{
    width: 6rem;
    height: 6rem;
    box-shadow: 2px 2px 4px rgba(12,13,14,0.7);
}
.name-user{
    font-size: 1.5rem;
}
.about-user-list{
    margin-left: 1rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}
.about-user-list p{
    margin: 0;
}
.location-user{
    font-weight: bold;
    color: #6a737c;
}
.user-tag > a{
    color: #848d95;
}
.user-tag > a:hover{
    color: #6a737c;
    text-decoration: underline;
}
/*tags-list*/
.tags-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tags-list .tag {
    font-size: 1.5rem;
    color: #848d95;
}
.tag{
    height: 50px;
    margin: 0;
}
.tag a{
    font-size: 1.5rem;
    background-color: #E1ECF4;
    margin-right: 2px;
    padding: .2rem .6rem;
    color: #39739d;
}
/*question-detail*/
.title-detail{
    font-size: 2rem;
    border: none;
}
.tags{
    float: left;
    width: 80%;
    height: 50px;
    margin: 0;
}
.user-detail-question{
    background-color: #c6e5ef;
}
.text-question-detail{
    float: left;
    width: 90%;
}
.answer-list h2{
    align-items: center;
}
.answer-count{
    font-size: 1.8rem;
    color: #666666;
}
.answer-list{
    width: 80%;
    display: flex;
    margin: 2rem;
    flex-direction: column;
    justify-content: center;
}
.answer{
    font-size: 1.6rem;
    border-bottom: 1px solid #cccccc;
}
.add-comment{
    color: #5c7da7;
    font-size: 1.4rem;
}
.add-comment:hover {
    color: #1250c0;
}
.need-login{
    margin-bottom: 2rem;
}
.center-answer{
    text-align: center;
}
.date-comment{
    font-size: 1rem;
}
.comment-list{
    width: 75%;
    margin-left: 25%;
    margin-bottom: 2rem;
}
.comment{
    border-bottom: 1px solid #cccccc;
    font-size: 1.4rem;
}
.comment:nth-child(1){
    border-top: 1px solid #cccccc;
}

.comment-list .comment:nth-child(n+4) {
    display: none;
}

.comment-list.open .comment:nth-child(n+4) {
    display: block;
}
.list-toggle{
    margin-bottom: 1rem;
    color: #5c7da7;
    font-size: 1.4rem;
}
.list-toggle:hover {
    color: #1250c0;
}
/*checkbox https://codepen.io/daniandl/pen/OgbXzK*/
.label__checkbox {
  display: none;
}
.label__check {
    margin-top: 2rem;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, .2);
    background: white;
    vertical-align: middle;
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .3s ease;
}
i.icon {
    opacity: 0.2;
    font-size: 2rem;
    color: transparent;
    transition: opacity .3s .1s ease;
    -webkit-text-stroke: 3px rgba(0, 0, 0, 1);
}
.label__check:hover {
    border: 5px solid rgba(0,0,0,0.3);
}
.label__checkbox:checked + .label__text .label__check {
  animation: check .5s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;
}
.label__checkbox:checked +.label__text .label__check .icon {
    opacity: 1;
    transform: scale(0);
    color: white;
    animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
    -webkit-text-stroke: 3px rgba(255, 255, 255, 0.5);
}
@keyframes icon {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1)
  }
}
@keyframes check {
  0% {
    width: 1.5em;
    height: 1.5em;
    border-width: 5px;
  }
  10% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.1;
    background: rgba(0,0,0,0.2);
    border-width: 15px;
  }
  12% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.4;
    background: rgba(0,0,0,0.1);
    border-width: 0;
  }
  50% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 0.6;
  }
  100% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 1;
  }
}