{% extends "base.html" %}
{% load static %}
{% block title %}Actions{% endblock %}

{% block content %}
    <h2>What's happening</h2>
    <div id="action-list">
        {% for action in action_list %}
            <div class="action">
                <div class="user_action">
                    {% if action.actor.profile.image %}
                        <a href="{{ action.actor.profile.get_absolute_url }}">
                            <img src="{{ action.actor.profile.image.url }}" alt="">
                        </a>
                    {% endif %}
                </div>
                <div class="info">
                    <span class="date">{{ action.timesince }} ago</span>
                    <br>
                    <span class="user_name">{{ action.actor }},</span>
                    <span class="verb">"{{ action.verb }}"</span>
                    {% if action.target.title  %}
                        <a href="{{ action.target.get_absolute_url }}"><span class="target">{{ action.target.title }}</span></a>
                    {% else %}
                        <a href="{{ action.target.question.get_absolute_url }}">
                            <span class="target">{{ action.target.question.title }}</span>
                        </a>
                        , {{ action.target.text_answer|truncatechars:100 }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}