{% extends "base.html" %}
{% load static %}
{% block title %}tagged with "{{ tag.name }}"{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
    <h2 class="title-detail">
        Questions tagged with "{{ tag.name }}"
        <a class="ask-question-btn" href="{% url "question:add_question" %}">Ask Question</a>
    </h2>
        {% else %}
        <h2 class="need-login">Want ask question? Your need <a href="{% url "accounts:login" %}">Login</a></h2>
        <h2 class="title-detail">
            Questions tagged with "{{ tag.name }}"
        </h2>
    {% endif %}
    <div class="questions_list">
    {% for question in questions %}
        <div class="question">
            <div class="statistic-question">
                <div class="votes-stat">
                    <p>{{ question.users_like.count }}</p>
                    <span>Votes</span>
                </div>
                <div class="answers-stat
                {% for answer in question.answers.all %}
                    {% if answer.is_correct %}
                        green-answer
                    {% endif %}
                {% endfor %}
                ">
                    <p>{{ question.answers.count }}</p>
                    <span>Answers</span>
                </div>
{#                <div class="answers-stat">#}
{#                    <p>{{ question.answers.count }}</p>#}
{#                    <span>Answers</span>#}
{#                </div>#}
            </div>
            <div class="text-question">
                <p><a class="orange-link" href="{{ question.get_absolute_url }}">{{ question.title }}</a></p>
                <p>{{ question.text_question|truncatechars:300}}</p>
                <p class="tags">
                    {% for tag in question.tags.all %}
                        <a href="{% url "question:tag_detail" tag.slug %}">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                </p>
                <div class="user-question">
                    <p>
                        <span class="date-question"><i>{{ question.created }}</i></span>
                        <img class="header-account-image" src="{{ question.user.profile.image.url }}" alt="">
                        <a href="{% url "accounts:profile" id=question.user.id %}">{{ question.user.username }}</a>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% if page_obj %}
        {% include "pagination.html" with page=page_obj %}
    {% endif %}
{% endblock %}